In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'A':[1,2,3],
                 'B':['a','b','c']})

In [3]:
df

   A  B
0  1  a
1  2  b
2  3  c

In [16]:
df.to_csv(r'C:\Users\alastairtyson\Desktop\city\export_dataframe.csv',index=False,header=True)